<!DOCTYPE html>
<html>
<head>
  <title>Bridgeo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="background"></div>
<%= yield %>

</body>
</html>
